.page {
  height: calc(100vh - 64px);
  padding: 3rem 2rem;
  background-color: whitesmoke !important;
}

.page-title {
  font-family: 'Ubuntu';
  font-size: 30px;
  text-align: center;
  color: grey;
  margin-bottom: 2rem;
}

.page-subtitle {
  font-family: 'Ubuntu';
  font-size: 18px;
  text-align: center;
  margin-top: 0.5rem;
  color: grey;
}

.page-body {
  text-align: center;
}

.copyright-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  opacity: 0.6;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 0;
  width: 100%
}