.page {
  height: auto;
  min-height: 100vh;
  padding: 3rem 2rem;
  background-color: whitesmoke !important;
}

.login-page {
  height: auto;
  padding: 3rem 2rem;
  background-color: lightgrey !important;
}

.page-title {
  font-family: 'Ubuntu';
  font-size: 30px;
  text-align: center;
  color: grey;
  margin-top: 64px;
  margin-bottom: 2rem;
}

.page-subtitle {
  font-family: 'Ubuntu';
  font-size: 18px;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  color: grey;
}

.page-body {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.section-list {
  position: relative;
  margin: 0 30px 1rem;
}

.section-list-title {
  color: grey;
  background-color: whitesmoke;
  margin: 2rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-list-title.disabled {
  padding: 1rem;
}

.section-list-item {
  position: relative;
}

.section-part-title {
  color: grey;
  margin: 2rem 0 0.5rem;
}

.scroll-view {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 250px;
}

.log-scroll-view {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 380px;
}

.gradient-layer {
  position: relative;
}

.gradient-layer::before {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  height: 25px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  background: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.gradient-layer::after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 30px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.custom-width-textfield {
  width: 500px !important;
}

.copyright-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  opacity: 0.2;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 0;
  width: 100%
}

.warning {
  color: #E57373
}

@media only screen and (max-width: 767px) {
  .page {
    padding: 3rem 1rem;
  }
  .custom-width-textfield {
    width: 240px !important;
  }
  .section-list {
    margin: 0;
  }
}